<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> <!-- Enables responsive design -->

    <!-- Boostrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="../styles/style.css">

    <title>Daily Diary</title>

  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div id="user-information-rendered-here" class="text-center"><!-- User profile information, such as name and picture will go in here --></div>
        </div> <!-- .col-md-3 close -->
      </div> <!-- .row close -->
      <div class="row">

        <!-- Add a character count to let users know how many characters they can still enter -->

        <div class="log-form">
          <form method="post" action="/api/logs"> <!--defined route -->
            <div class="form-group">
              <input type="text" name="log[diary_entry]" class="form-control" placeholder="What did you do today?">
            </div>
            <div class="button">
              <input type="submit" value="Submit" class="btn btn-primary">
            </div>
          </form>
        </div>
        <div class="col-md-12 text-center" id="log-information-rendered-here">
          <!-- User diary entries will go here -->
        </div> <!-- .col-md-9 close -->
      </div> <!-- .row close -->
    </div> <!-- .container close -->

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <!-- Bootstrap Javascript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Underscore -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>

    <!-- Custom JS -->
    <script src="../scripts/script.js"></script>

    <!-- Template to render current user information -->
    <script type="text/template" id="profile-template">
      <h1> <%= currentUser.firstname %> <%= currentUser.lastname %> </h1> <!-- displays the name of the current user -->
      <!-- <p><img class="profile-picture" src=<%= profile_picture %> > <p> -->
    </script>

    <!-- Template to render current user's logs -->
    <!-- <script type="text/template" id="log-template">

    </script> -->

  </body>

</html>
